@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gmbackground: #1f2329;
  --gmgoek: #e9fbff;
  --gmmavi: #77b3fe;
  --gmgray: #3e4347;
}

body {
  color: #fff;
  background: var(--gmbackground);
}